In [35]:
import pandas as pd
import numpy as np
df = pd.read_excel("/content/drive/MyDrive/seattle-weather.xlsx")

In [36]:
df

           date  precipitation  temp_max  temp_min  wind  weather
0    2012-01-02            0.0      12.8       5.0   4.7  drizzle
1    2012-01-02           10.9      10.6       2.8   4.5     rain
2    2012-01-03            0.8      11.7       7.2   2.3     rain
3    2012-01-04           20.3      12.2       5.6   4.7     rain
4           NaT            1.3       8.9       2.8   6.1     rain
...         ...            ...       ...       ...   ...      ...
1456 2015-12-27            8.6       4.4       1.7   2.9     rain
1457 2015-12-28            1.5       5.0       1.7   1.3     rain
1458 2015-12-29            0.0       7.2       0.6   2.6      fog
1459 2015-12-30            0.0       5.6      -1.0   3.4      sun
1460 2015-12-31            0.0       5.6      -2.1   3.5      sun

[1461 rows x 6 columns]

In [37]:
#Part- (a)
df.groupby("weather").wind.mean()

weather
drizzle    2.367925
fog        2.481188
rain       3.669891
snow       4.411538
sun        2.956406
Name: wind, dtype: float64

In [38]:
#Part- (b)
df["date"].ffill(inplace=True)

In [39]:
df

           date  precipitation  temp_max  temp_min  wind  weather
0    2012-01-02            0.0      12.8       5.0   4.7  drizzle
1    2012-01-02           10.9      10.6       2.8   4.5     rain
2    2012-01-03            0.8      11.7       7.2   2.3     rain
3    2012-01-04           20.3      12.2       5.6   4.7     rain
4    2012-01-04            1.3       8.9       2.8   6.1     rain
...         ...            ...       ...       ...   ...      ...
1456 2015-12-27            8.6       4.4       1.7   2.9     rain
1457 2015-12-28            1.5       5.0       1.7   1.3     rain
1458 2015-12-29            0.0       7.2       0.6   2.6      fog
1459 2015-12-30            0.0       5.6      -1.0   3.4      sun
1460 2015-12-31            0.0       5.6      -2.1   3.5      sun

[1461 rows x 6 columns]

In [40]:
#Part- (c)
df["date"]=pd.to_datetime(df["date"])

In [41]:
df.set_index(df["date"],inplace=True)
df

                 date  precipitation  temp_max  temp_min  wind  weather
date
2012-01-02 2012-01-02            0.0      12.8       5.0   4.7  drizzle
2012-01-02 2012-01-02           10.9      10.6       2.8   4.5     rain
2012-01-03 2012-01-03            0.8      11.7       7.2   2.3     rain
2012-01-04 2012-01-04           20.3      12.2       5.6   4.7     rain
2012-01-04 2012-01-04            1.3       8.9       2.8   6.1     rain
...               ...            ...       ...       ...   ...      ...
2015-12-27 2015-12-27            8.6       4.4       1.7   2.9     rain
2015-12-28 2015-12-28            1.5       5.0       1.7   1.3     rain
2015-12-29 2015-12-29            0.0       7.2       0.6   2.6      fog
2015-12-30 2015-12-30            0.0       5.6      -1.0   3.4      sun
2015-12-31 2015-12-31            0.0       5.6      -2.1   3.5      sun

[1461 rows x 6 columns]

In [42]:
#Part- (d)
df.groupby([pd.Grouper(freq='M'),"weather"]).mean().sort_values(by=["date","precipitation","temp_max","temp_min","wind","weather"])

                    precipitation   temp_max  temp_min   wind
date       weather
2012-01-31 sun           0.000000   6.800000 -0.700000  2.575
           drizzle       0.000000   9.750000  1.400000  3.050
           rain          5.822222   8.633333  3.333333  4.250
           snow          9.785714   2.371429 -1.742857  4.000
2012-02-29 drizzle       0.000000   7.200000  0.600000  1.800
...                           ...        ...       ...    ...
2015-11-30 fog           0.000000   8.900000  2.125000  2.675
           rain         10.630000  10.140000  4.865000  3.740
2015-12-31 sun           0.000000   5.850000 -0.350000  2.775
           fog           0.000000   7.750000  1.700000  3.350
           rain         11.380000   8.836000  4.664000  4.672

[157 rows x 4 columns]

In [43]:
#Part- (e)
a = df["wind"]
b = np.array(a)
b

array([4.7, 4.5, 2.3, ..., 2.6, 3.4, 3.5])

In [44]:
bins=[1,2,3,4,5,6,7,8,9,10]
fg=pd.cut(b,bins)

In [45]:
fg.value_counts()

(1, 2]     243
(2, 3]     511
(3, 4]     309
(4, 5]     190
(5, 6]     101
(6, 7]      49
(7, 8]      17
(8, 9]       6
(9, 10]      1
dtype: int64

In [46]:
df.groupby(fg).mean()

         precipitation   temp_max  temp_min      wind
(1, 2]        1.142387  15.792181  7.462140  1.631687
(2, 3]        1.550294  18.408806  9.230920  2.563405
(3, 4]        3.224595  17.766019  9.115858  3.524595
(4, 5]        5.072105  14.342632  7.380000  4.501579
(5, 6]        7.694059  12.688119  6.294059  5.479208
(6, 7]        7.312245  12.508163  6.918367  6.442857
(7, 8]       10.794118  11.376471  6.270588  7.505882
(8, 9]        7.433333  10.266667  5.283333  8.350000
(9, 10]       2.000000   8.300000  1.700000  9.500000