#Ques3

In [3]:
import pandas as pd
import numpy as np

In [4]:
#Question No.03
df=pd.DataFrame(np.random.randint(0,150,size=(50,3)))
df

      0    1    2
0    88   73    7
1    36  101    0
2    27   10  124
3    11   21  128
4   104   55  112
5    56   16  142
6     3   35  128
7    81    6   83
8    96   25    1
9    87   52   84
10  148   38  115
11   66  114  116
12   68   13   56
13   77   19   61
14   31   45   69
15  130   85   12
16  102   54  135
17  134   17    2
18   13  134   46
19   83    2  136
20   19  117   67
21    4  140  112
22   14   37   73
23   73   16   28
24   87   65   98
25  119   15  112
26  138    1   62
27   91  133   99
28   99  106   56
29  139  147   59
30  113  139   91
31  137   88  133
32  131  135   38
33   50   65  131
34   94   93  141
35  107   94  117
36    5   45   80
37   40  144   90
38  101  103   85
39  137  145   63
40   49   89   10
41   83   94   21
42   92   31  121
43   96   36  126
44  108   98   44
45   36   66  112
46   34   59    1
47   62   69  134
48   45  141   76
49  100    4   66

In [5]:
for col in df.columns:
    df.loc[df.sample(frac=0.1).index,col] = np.nan

In [6]:
df

        0      1      2
0    88.0   73.0    7.0
1    36.0  101.0    0.0
2    27.0   10.0  124.0
3    11.0   21.0  128.0
4   104.0   55.0  112.0
5    56.0   16.0  142.0
6     3.0   35.0  128.0
7    81.0    6.0   83.0
8    96.0   25.0    NaN
9    87.0   52.0   84.0
10    NaN   38.0  115.0
11    NaN  114.0  116.0
12    NaN   13.0   56.0
13   77.0   19.0   61.0
14   31.0   45.0   69.0
15  130.0   85.0   12.0
16    NaN   54.0  135.0
17  134.0   17.0    2.0
18   13.0  134.0   46.0
19   83.0    2.0  136.0
20   19.0  117.0   67.0
21    4.0  140.0  112.0
22   14.0   37.0   73.0
23   73.0   16.0   28.0
24   87.0   65.0   98.0
25  119.0   15.0    NaN
26  138.0    1.0   62.0
27   91.0    NaN   99.0
28   99.0  106.0   56.0
29  139.0  147.0   59.0
30  113.0  139.0   91.0
31  137.0   88.0  133.0
32  131.0  135.0   38.0
33   50.0   65.0    NaN
34   94.0    NaN  141.0
35  107.0   94.0  117.0
36    5.0   45.0   80.0
37   40.0  144.0   90.0
38  101.0    NaN   85.0
39  137.0  145.0    NaN
40    NaN   89.0   10.0
41   83.0   94.0   21.0
42   92.0    NaN  121.0
43   96.0   36.0  126.0
44  108.0   98.0   44.0
45   36.0   66.0    NaN
46   34.0   59.0    1.0
47   62.0   69.0  134.0
48   45.0    NaN   76.0
49  100.0    4.0   66.0

In [7]:
#Part-(a)
df.isnull().sum().sum()

15

In [8]:
#Part-(b)
df.dropna(thresh=45,axis=1)

        0      1      2
0    88.0   73.0    7.0
1    36.0  101.0    0.0
2    27.0   10.0  124.0
3    11.0   21.0  128.0
4   104.0   55.0  112.0
5    56.0   16.0  142.0
6     3.0   35.0  128.0
7    81.0    6.0   83.0
8    96.0   25.0    NaN
9    87.0   52.0   84.0
10    NaN   38.0  115.0
11    NaN  114.0  116.0
12    NaN   13.0   56.0
13   77.0   19.0   61.0
14   31.0   45.0   69.0
15  130.0   85.0   12.0
16    NaN   54.0  135.0
17  134.0   17.0    2.0
18   13.0  134.0   46.0
19   83.0    2.0  136.0
20   19.0  117.0   67.0
21    4.0  140.0  112.0
22   14.0   37.0   73.0
23   73.0   16.0   28.0
24   87.0   65.0   98.0
25  119.0   15.0    NaN
26  138.0    1.0   62.0
27   91.0    NaN   99.0
28   99.0  106.0   56.0
29  139.0  147.0   59.0
30  113.0  139.0   91.0
31  137.0   88.0  133.0
32  131.0  135.0   38.0
33   50.0   65.0    NaN
34   94.0    NaN  141.0
35  107.0   94.0  117.0
36    5.0   45.0   80.0
37   40.0  144.0   90.0
38  101.0    NaN   85.0
39  137.0  145.0    NaN
40    NaN   89.0   10.0
41   83.0   94.0   21.0
42   92.0    NaN  121.0
43   96.0   36.0  126.0
44  108.0   98.0   44.0
45   36.0   66.0    NaN
46   34.0   59.0    1.0
47   62.0   69.0  134.0
48   45.0    NaN   76.0
49  100.0    4.0   66.0

In [9]:
#Part-(c)
df1=df.sum(axis=1).argmax()
df1

31

In [10]:
df.drop(df1)

        0      1      2
0    88.0   73.0    7.0
1    36.0  101.0    0.0
2    27.0   10.0  124.0
3    11.0   21.0  128.0
4   104.0   55.0  112.0
5    56.0   16.0  142.0
6     3.0   35.0  128.0
7    81.0    6.0   83.0
8    96.0   25.0    NaN
9    87.0   52.0   84.0
10    NaN   38.0  115.0
11    NaN  114.0  116.0
12    NaN   13.0   56.0
13   77.0   19.0   61.0
14   31.0   45.0   69.0
15  130.0   85.0   12.0
16    NaN   54.0  135.0
17  134.0   17.0    2.0
18   13.0  134.0   46.0
19   83.0    2.0  136.0
20   19.0  117.0   67.0
21    4.0  140.0  112.0
22   14.0   37.0   73.0
23   73.0   16.0   28.0
24   87.0   65.0   98.0
25  119.0   15.0    NaN
26  138.0    1.0   62.0
27   91.0    NaN   99.0
28   99.0  106.0   56.0
29  139.0  147.0   59.0
30  113.0  139.0   91.0
32  131.0  135.0   38.0
33   50.0   65.0    NaN
34   94.0    NaN  141.0
35  107.0   94.0  117.0
36    5.0   45.0   80.0
37   40.0  144.0   90.0
38  101.0    NaN   85.0
39  137.0  145.0    NaN
40    NaN   89.0   10.0
41   83.0   94.0   21.0
42   92.0    NaN  121.0
43   96.0   36.0  126.0
44  108.0   98.0   44.0
45   36.0   66.0    NaN
46   34.0   59.0    1.0
47   62.0   69.0  134.0
48   45.0    NaN   76.0
49  100.0    4.0   66.0

In [11]:
#Part-(d)
df.sort_values(by=[0])

        0      1      2
6     3.0   35.0  128.0
21    4.0  140.0  112.0
36    5.0   45.0   80.0
3    11.0   21.0  128.0
18   13.0  134.0   46.0
22   14.0   37.0   73.0
20   19.0  117.0   67.0
2    27.0   10.0  124.0
14   31.0   45.0   69.0
46   34.0   59.0    1.0
1    36.0  101.0    0.0
45   36.0   66.0    NaN
37   40.0  144.0   90.0
48   45.0    NaN   76.0
33   50.0   65.0    NaN
5    56.0   16.0  142.0
47   62.0   69.0  134.0
23   73.0   16.0   28.0
13   77.0   19.0   61.0
7    81.0    6.0   83.0
19   83.0    2.0  136.0
41   83.0   94.0   21.0
9    87.0   52.0   84.0
24   87.0   65.0   98.0
0    88.0   73.0    7.0
27   91.0    NaN   99.0
42   92.0    NaN  121.0
34   94.0    NaN  141.0
43   96.0   36.0  126.0
8    96.0   25.0    NaN
28   99.0  106.0   56.0
49  100.0    4.0   66.0
38  101.0    NaN   85.0
4   104.0   55.0  112.0
35  107.0   94.0  117.0
44  108.0   98.0   44.0
30  113.0  139.0   91.0
25  119.0   15.0    NaN
15  130.0   85.0   12.0
32  131.0  135.0   38.0
17  134.0   17.0    2.0
31  137.0   88.0  133.0
39  137.0  145.0    NaN
26  138.0    1.0   62.0
29  139.0  147.0   59.0
10    NaN   38.0  115.0
11    NaN  114.0  116.0
12    NaN   13.0   56.0
16    NaN   54.0  135.0
40    NaN   89.0   10.0

In [12]:
#Part-(e)
df.drop_duplicates(subset=0)

        0      1      2
0    88.0   73.0    7.0
1    36.0  101.0    0.0
2    27.0   10.0  124.0
3    11.0   21.0  128.0
4   104.0   55.0  112.0
5    56.0   16.0  142.0
6     3.0   35.0  128.0
7    81.0    6.0   83.0
8    96.0   25.0    NaN
9    87.0   52.0   84.0
10    NaN   38.0  115.0
13   77.0   19.0   61.0
14   31.0   45.0   69.0
15  130.0   85.0   12.0
17  134.0   17.0    2.0
18   13.0  134.0   46.0
19   83.0    2.0  136.0
20   19.0  117.0   67.0
21    4.0  140.0  112.0
22   14.0   37.0   73.0
23   73.0   16.0   28.0
25  119.0   15.0    NaN
26  138.0    1.0   62.0
27   91.0    NaN   99.0
28   99.0  106.0   56.0
29  139.0  147.0   59.0
30  113.0  139.0   91.0
31  137.0   88.0  133.0
32  131.0  135.0   38.0
33   50.0   65.0    NaN
34   94.0    NaN  141.0
35  107.0   94.0  117.0
36    5.0   45.0   80.0
37   40.0  144.0   90.0
38  101.0    NaN   85.0
42   92.0    NaN  121.0
44  108.0   98.0   44.0
46   34.0   59.0    1.0
47   62.0   69.0  134.0
48   45.0    NaN   76.0
49  100.0    4.0   66.0

In [13]:
#Part- (f)
corr1=df[0].corr(df[1])
corr1

0.06761071861140683

In [14]:
cov1=df[1].cov(df[2])
cov1

-369.5166666666667

In [16]:
#Part- (g)
def remove_outlier_IQR(df):
    Q1=df.quantile(0.25)
    Q3=df.quantile(0.75)
    IQR=Q3-Q1
    df_final=df[~((df<(Q1-1.5*IQR)) | (df>(Q3+1.5*IQR)))]
    return df_final

In [17]:
remove_outlier_IQR(df)

        0      1      2
0    88.0   73.0    7.0
1    36.0  101.0    0.0
2    27.0   10.0  124.0
3    11.0   21.0  128.0
4   104.0   55.0  112.0
5    56.0   16.0  142.0
6     3.0   35.0  128.0
7    81.0    6.0   83.0
8    96.0   25.0    NaN
9    87.0   52.0   84.0
10    NaN   38.0  115.0
11    NaN  114.0  116.0
12    NaN   13.0   56.0
13   77.0   19.0   61.0
14   31.0   45.0   69.0
15  130.0   85.0   12.0
16    NaN   54.0  135.0
17  134.0   17.0    2.0
18   13.0  134.0   46.0
19   83.0    2.0  136.0
20   19.0  117.0   67.0
21    4.0  140.0  112.0
22   14.0   37.0   73.0
23   73.0   16.0   28.0
24   87.0   65.0   98.0
25  119.0   15.0    NaN
26  138.0    1.0   62.0
27   91.0    NaN   99.0
28   99.0  106.0   56.0
29  139.0  147.0   59.0
30  113.0  139.0   91.0
31  137.0   88.0  133.0
32  131.0  135.0   38.0
33   50.0   65.0    NaN
34   94.0    NaN  141.0
35  107.0   94.0  117.0
36    5.0   45.0   80.0
37   40.0  144.0   90.0
38  101.0    NaN   85.0
39  137.0  145.0    NaN
40    NaN   89.0   10.0
41   83.0   94.0   21.0
42   92.0    NaN  121.0
43   96.0   36.0  126.0
44  108.0   98.0   44.0
45   36.0   66.0    NaN
46   34.0   59.0    1.0
47   62.0   69.0  134.0
48   45.0    NaN   76.0
49  100.0    4.0   66.0

In [18]:
#Part- (h)
pd.cut(df[1],5)

0       (59.4, 88.6]
1      (88.6, 117.8]
2      (0.854, 30.2]
3      (0.854, 30.2]
4       (30.2, 59.4]
5      (0.854, 30.2]
6       (30.2, 59.4]
7      (0.854, 30.2]
8      (0.854, 30.2]
9       (30.2, 59.4]
10      (30.2, 59.4]
11     (88.6, 117.8]
12     (0.854, 30.2]
13     (0.854, 30.2]
14      (30.2, 59.4]
15      (59.4, 88.6]
16      (30.2, 59.4]
17     (0.854, 30.2]
18    (117.8, 147.0]
19     (0.854, 30.2]
20     (88.6, 117.8]
21    (117.8, 147.0]
22      (30.2, 59.4]
23     (0.854, 30.2]
24      (59.4, 88.6]
25     (0.854, 30.2]
26     (0.854, 30.2]
27               NaN
28     (88.6, 117.8]
29    (117.8, 147.0]
30    (117.8, 147.0]
31      (59.4, 88.6]
32    (117.8, 147.0]
33      (59.4, 88.6]
34               NaN
35     (88.6, 117.8]
36      (30.2, 59.4]
37    (117.8, 147.0]
38               NaN
39    (117.8, 147.0]
40     (88.6, 117.8]
41     (88.6, 117.8]
42               NaN
43      (30.2, 59.4]
44     (88.6, 117.8]
45      (59.4, 88.6]
46      (30.2, 59.4]
47      (59.4, 88.6]
48               NaN
49     (0.854, 30.2]
Name: 1, dtype: category
Categories (5, interval[float64, right]): [(0.854, 30.2] < (30.2, 59.4] < (59.4, 88.6] <
                                           (88.6, 117.8] < (117.8, 147.0]]