#Ques 7

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
1#Question No. 07
dict1={'Name':['Mudit Chauhan','Seema Chopra','Rani Gupta','Aditya Narayan','Sanjeev Sahini','Prakash Kumar','Ritu Agarwal','Akshay Goel','Meeta Kulkarni','Preeti Ahuja','Sunil Das Gupta','Sonali Sapre','Rashni Talwar','Ashish Dubey','Kiran Sharma','Sameer Bansal'],'Birth_Month':['December','January','March','October','February','December','September','August','July','November','April','January','June','May','February','October'],'Gender':['M','F','F','M','M','M','F','M','F','F','M','F','F','M','F','M'],'Pass_Division':['|||','||','|','|','||','|||','|','|','||','||','|||','|','|||','||','||','|']}
df=pd.DataFrame(dict1)

In [ ]:
df

               Name Birth_Month Gender Pass_Division
0     Mudit Chauhan    December      M           |||
1      Seema Chopra     January      F            ||
2        Rani Gupta       March      F             |
3    Aditya Narayan     October      M             |
4    Sanjeev Sahini    February      M            ||
5     Prakash Kumar    December      M           |||
6      Ritu Agarwal   September      F             |
7       Akshay Goel      August      M             |
8    Meeta Kulkarni        July      F            ||
9      Preeti Ahuja    November      F            ||
10  Sunil Das Gupta       April      M           |||
11     Sonali Sapre     January      F             |
12    Rashni Talwar        June      F           |||
13     Ashish Dubey         May      M            ||
14     Kiran Sharma    February      F            ||
15    Sameer Bansal     October      M             |

In [ ]:
#Part-(a)
pd.get_dummies(df[['Gender','Pass_Division']])

    Gender_F  Gender_M  Pass_Division_|  Pass_Division_||  Pass_Division_|||
0          0         1                0                 0                  1
1          1         0                0                 1                  0
2          1         0                1                 0                  0
3          0         1                1                 0                  0
4          0         1                0                 1                  0
5          0         1                0                 0                  1
6          1         0                1                 0                  0
7          0         1                1                 0                  0
8          1         0                0                 1                  0
9          1         0                0                 1                  0
10         0         1                0                 0                  1
11         1         0                1                 0                  0
12         1         0                0                 0                  1
13         0         1                0                 1                  0
14         1         0                0                 1                  0
15         0         1                1                 0                  0

In [ ]:
#Part-(b)
Month=['January','February','March','April','May','June','July','August','September','October','November','December']
df['Birth_Month']=pd.Categorical(df['Birth_Month'],categories=Month)

In [ ]:
df.sort_values('Birth_Month')

               Name Birth_Month Gender Pass_Division
1      Seema Chopra     January      F            ||
11     Sonali Sapre     January      F             |
4    Sanjeev Sahini    February      M            ||
14     Kiran Sharma    February      F            ||
2        Rani Gupta       March      F             |
10  Sunil Das Gupta       April      M           |||
13     Ashish Dubey         May      M            ||
12    Rashni Talwar        June      F           |||
8    Meeta Kulkarni        July      F            ||
7       Akshay Goel      August      M             |
6      Ritu Agarwal   September      F             |
3    Aditya Narayan     October      M             |
15    Sameer Bansal     October      M             |
9      Preeti Ahuja    November      F            ||
0     Mudit Chauhan    December      M           |||
5     Prakash Kumar    December      M           |||